body {
	font-family: Helvetica, Arial, 'LiHei Pro', '微軟正黑體', sans-serif;
    background-image: url('../img/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center; 
}

.navbar {
    min-height: 120px;
}

.navbar-nav {
    margin-right: 50px;
}

.navbar-nav li a{
    height: 14px;
    border-right: 1px solid black;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 45px;
    color: black;
    font-family: 'Century Gothic Regular', 'Century Gothic';
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 14px;
}

.navbar-nav li .dropdown-menu {
    background-color: #797979;
}

.dropdown-menu li a{
    color: #EAEADB;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 
.footer {
    bottom: 0;
    height: 60px;
    background-color: #990000;
}

.backgroundDiv {
    background-color: #EAEADB;
    margin-left: 10px;
    margin-right: 10px;
}